.centered {
    padding-bottom: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -10%);
    padding-right: 20%;
  }
  .centered>h1{
      color:black;
      font-size:50px;
  }
  .centered>h2{
    color:black;
    font-size:35px;
}
.centered>p{
    color:black;
    font-size:25px;
    font-weight: 200;
}
#contact>h2{
    color: maroon;
}
#about>p{
    color: black;
    font-family:monospace;
}
header>ul{
    position: fixed;
}
#projects>h3{
    color:maroon;
}